In [5]:
print(type(1))

<class 'int'>

In [7]:
print(4.2e-4)
print(type(4.2e-4))

0.00042
<class 'float'>

## string

In [15]:
display("Hello world")
print('Hello world')
print(type("apa"))
print('"Hello world"')
print("can't")
print('')

'Hello world'

Hello world
<class 'str'>
"Hello world"
can't

## boolean

In [18]:
print(type(True))
print(type(False))
print(True)
print(False)
print(True + False)
print(True + True)
print(False + False)

<class 'bool'>
<class 'bool'>
True
False
1
2
0

## variabel

In [22]:
a = 'b'
print(a)

a = 500
a

b

500

In [31]:
q = w = e = 10
print(q)
print(w)
print(e)

z, x = 1, 2
print(z)
print(x)

10
10
10
1
2

In [26]:
age = 25
Age

NameError: name 'Age' is not defined

In [29]:
age = 25
_shot = 'dor'
_shot

'dor'

## Operator and Expression

In [37]:
a = 5
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b) #pembulatan ke atas (desimal)
print(a // b) #ke bawah (integer)
print(a ** b) #pangkat
print(a % b) #modulo (sisa bagi)

print(a + b + 10) #variabel melihat isi

7
3
10
2.5
2
25
1
17

In [40]:
#comparison operator

print(a == b)
c = 2
print(c == b) #sama dengan
print(a != b)
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
True
True
True
True
False
False

In [48]:
#string manipulation
q = 'py'
w = 'thon'
print(q+w)
print(q * a)
print('Hacktiv' + '8')
print(q in 'python')
print(w in 'pyton')

python
pypypypypy
Hacktiv8
True
False

In [49]:
#case conversion
h = 'HaCTivE8'
print(h.upper())
print(h.lower())
print(h.capitalize()) #huruf besar diawal
print(h.swapcase()) #penukaran
print(h.title())

HACTIVE8
hactive8
Hactive8
hActIVe8
Hactive8

## Python Lists

In [ ]:
#list, kumpulan objek berurutan
#example = [] #empty list
#print(example)
daftar = [1,2,43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w] 
#print(daftar)
#print(type(daftar))

#index, urutan item didalam list dimulai index 0
#print(daftar[3])
#print(daftar[-3])
#print(daftar[1 : 6]) #dari 1 sampai 5

In [ ]:
py = ['python', 'KS19', 'assoyy']
print(daftar + py)
print(py * 3)
print(len(daftar))
print(max(py))
print(min(py))

In [ ]:
daftar[8] = py
print(daftar)

In [ ]:
daftar[8] = py
print(daftar)

In [ ]:
daftar[-2] = 'udah malem'
print(daftar)

In [ ]:
#del daftar[3] #penghapusan index 3

In [83]:
print(daftar)
daftar[:3] #dariawal sampe ke 3

[1, 2, 43, 4.6, 2, ['python', 'KS19', 'assoyy'], 'udah malem', ['python', 'KS19', 'assoyy']]

[1, 2, 43]

## Tuples (tidak bisa diubah)

In [86]:
tapel = (1,2,43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w)
print(type(tapel))
print(tapel)

<class 'tuple'>
(1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, [6, 7], 'py', 'thon')

In [85]:
print(tapel[1:5])

[2, 43, 'a', True]

In [89]:
(z, x, y) = (1, 2, 'a')

In [90]:
type(y)

str

## Dictionary {}

In [96]:
kamus = {'apa':'what', 'siapa':'who', 'bagaimana':'how'}
print(type(kamus))
print(kamus['apa'])
kamus['kapan'] = 'when' #update value
print(kamus)
#kamus.clear() #menghapus semua
print(kamus)

<class 'dict'>
what
{'apa': 'what', 'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'apa': 'what', 'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}

In [98]:
alamat = {}
alamat['kota'] = ['madagascar']
alamat['jalan'] = 'situbaru'
alamat['nomor rumah'] = 10
alamat['pohon'] = ['cendana', 'mahoni', 'beringin']
alamat['akses'] = {'KRL':'bisa', 'TJ': {'bisa':'Tapi susah'}, 'ojol':'tidak'}
alamat

{'kota': ['madagascar'],
 'jalan': 'situbaru',
 'nomor rumah': 10,
 'pohon': ['cendana', 'mahoni', 'beringin'],
 'akses': {'KRL': 'bisa', 'TJ': 'bisa', 'ojol': 'tidak'}}

In [102]:
print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ']['bisa'])
print(alamat.items())
print()
print(alamat.values)
print()
print(alamat.keys)

{'kota': ['madagascar'], 'jalan': 'situbaru', 'nomor rumah': 10, 'pohon': ['cendana', 'mahoni', 'beringin'], 'akses': {'KRL': 'bisa', 'TJ': 'bisa', 'ojol': 'tidak'}}
mahoni

TypeError: string indices must be integers, not 'str'

In [104]:
a = 10
b = 2 
c = 10

d = (
    a == b
    or 
    c == a
    or a == c
)
d

True